<!DOCTYPE html>
<html lang="en">
  <%- include('header') -%>

  <main>
    <link rel="stylesheet" href="/css/confirmDelete.css">
    <h2>Delete All Snippets</h2>

    <p class="warning">Are you absolutely sure you want to delete all snippets?</p>

    <form method="post" action="/admin/deleteAllSnippets" class="confirm-form">
      <div class="form-actions">
        <input type="submit" name="doit" value="Delete All Snippets" class="danger-button">
        <a href="/admin" class="cancel-link">Cancel</a>
      </div>
    </form>

  </main>
  <%- include('footer') -%>
</html>