<!DOCTYPE html>
<html lang="en">
  <%- include('header') -%>
  <main>
    <link rel="stylesheet" href="/css/CRUD.css" />

    <h1>User Snippets Menu</h1>

    <ul class="menu-list">
      <li><a href="/crud">View all items</a></li>
      <li><a href="/crud/create">Create new item</a></li>
    </ul>
    <%- include('read') -%>
  </main>
  <%- include('footer') -%>
</html>
